# Carpetas de entorno / compilación
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de editor
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Datos locales / ficheros Excel
data/*.xlsx
data/*.xls
~$*.xlsx

#Notas locales
quedecir.txt

.claude/